<!--  use this to open the screen in the same window -->

<!-- <li class="tag">
  <%= context_menu_link l(:button_tag),
                        {:controller => 'issues', :action => 'tag', :ids => @issues.collect(&:id)},
                        :method => :post, :class => 'context_item' %>
</li>
-->

<!-- HACK open link in new window. Not very nice, but there is no way to get a target through context_menu_link -->
<li class="tag">
  <% form_tag({:controller => 'issues', :action => 'tag', :ids => @issues.collect(&:id)},
               :method => :post, :target => "_blank", :class => 'context_item') do %>
      <%= submit_tag l(:button_tag) %>
  <% end %>
</li>
